<launch>

  <!-- Load robot model -->
  <param name="robot_description" textfile="$(find cubesat_airbearing)/urdf/cubesat_airbearing.urdf"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cubesat_airbearing)/config/cubesat_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="cubesat_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/cubesat" args="joint1_velocity_controller joint2_velocity_controller joint3_velocity_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/cubesat/joint_states" />
  </node> -->

</launch>